@charset 'utf-8';
/* -----------------------------------------------------------
CSS Information

File name:      beauty.css
Created:        2020-07
Style Info:     ビューティCSS
----------------------------------------------------------- */
/* ------------------------------------ */
/* heading */
/* ------------------------------------ */
.heading_r,.heading_l {
  margin-bottom : 35px;
}
#equipment .heading_r::before {
  content : 'Equipment';
}
#cosmetic .heading_l::before {
  content : 'Cosmetic';
  z-index : -1;
}
#media .heading_r::before {
  content : 'Media';
}
/* ------------------------------------ */
/* marker */
/* ------------------------------------ */
.marker_thin {
  background : linear-gradient(transparent 70%,rgba(0,147,255,.5) 0);
}
/* ------------------------------------ */
/* top visual */
/* ------------------------------------ */
#d_beauty {
  position : relative;
  padding : 155px 0 60px;
}  
.h_heading {
  font-size : 70px;
  font-weight : bold;
  font-family : azo-sans-web, sans-serif;
}
.h_sub_text {
  display : block;
  margin-bottom : 67px;
  font-size : 20px;
  line-height : 1;
  padding-right : 150px;
  text-align : center;
}
.h_text {
  margin-bottom : 20px;
  white-space : nowrap;
}
.info_txt {
  line-height : 2;
}
.h_container {
  display : flex;
  align-items : end;
  justify-content : space-between;
  min-height : 588px;
}
.h_box {
  width : 30%;
  padding-top : 150px;
}
.h_container::after {
  content : '';
  width : 750px;
  height : 470px;
  right : 48px;
  top : 118px;
  background : #f8f8f8;
  border : #f8f8f8;
  position : absolute;
  z-index : -1;
}
.soon {
  display : block;
  text-align : right;
}
/* -------------------------------------------- */
/* equipment,cosmetic,media */
/* -------------------------------------------- */
/*layout*/
#equipment,#cosmetic,#media {
  padding : 110px 0 80px;
}
.container {
  margin-top : 75px;
  position : relative;
}
/* equipment */
.equipment_list {
  display : flex;
  flex-wrap : wrap;
}
.item img {
  padding-right : 24px;
}
.m_contents {
  width : 690px;
}
.m_heading {
  right : 0;
  width : 470px;
  height : 320px;
  position : absolute;
  top : 0;
}
.m_heading h4 {
  margin-bottom : 30px;
}
.m_heading p {
  line-height : 2;
  margin-bottom : 30px;
}
.item {
  float : left;
  width : 370px;
}
.item:not(:nth-last-of-type(1)):not(:nth-last-of-type(2)) {
  margin-bottom : 70px;
}
.item:nth-child(odd) {
  width : 40%;
}
.item:nth-child(even) {
  padding-top : 35px;
}
.item:not(:nth-of-type(2)) .desc {
  font-family : azo-sans-web, sans-serif;
}
.desc {
  font-size : 25px;
  font-weight : bold;
  margin-bottom : 24px;
}
.item .txt {
  line-height : 2;
}
/* cosmetic */
/*slider*/
.swiper-container {
  height : 500px;
}
.swiper-slide {
  background-position : center;
  background-repeat : no-repeat;
  width : 428px;
  height : 420px;
}
.swiper-slide-active .s_heading .textAnimation,.swiper-slide-active .s_heading .textAnimation-delay {
  position : relative;
  display : inline-block;
  height : 30px;
  opacity : 0;
  color : #fff;
  -webkit-transform : translate3d(0, 0, 0);
      -ms-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
}
.swiper-slide-active .s_heading .strech_right {
  font-family : azo-sans-web, sans-serif;
  font-size : 20px;
  font-weight : bold;
}
.swiper-slide-active .s_heading .strech_right::before {
  content : '';
  position : absolute;
  display : inline-block;
  background : #2e75b6;
  color : #000;
  width : 0;
  height : 100%;
  z-index : -1;
  left : 0;
  top : 0;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
          animation : strech-right 2s ease-in-out;
  -webkit-animation : strech-right 2s ease 0s 1 normal forwards;
          animation : strech-right 2s ease 0s 1 normal forwards;
}
.textAnimation {
  margin-bottom : 4px;
}
.textAnimation span,.textAnimation-delay span {
  padding-top : 2px;
  padding-bottom : 2px;
}
.textAnimation span:first-child {
  padding-left : 3px;
}
.textAnimation span:last-child {
  padding-right : 3px;
}
.textAnimation-delay span:first-child {
  padding-left : 3px;
}
.textAnimation-delay span:last-child {
  padding-right : 3px;
}
.s_heading {
  opacity : 0;
}
.swiper-slide-active .s_heading {
  position : absolute;
  bottom : 0;
  left : 55%;
  width : 230px;
  opacity : 1;
  transition : all 1.5s ease-in .3s;
}
.swiper-slide-active .s_heading .opacity-in {
  line-height : 2;
}
/*caption animation*/
.swiper-slide-active .s_heading .opacity-in {
  -webkit-animation-duration : 1.6s;
          animation-duration : 1.6s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : opacityIn;
          animation-name : opacityIn;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
.swiper-slide-active .s_heading .slideIn-right {
  -webkit-animation-duration : 1.8s;
          animation-duration : 1.8s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : slideInRight;
          animation-name : slideInRight;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
.slide1 {
  background-image : url(../img/beauty/cosmetic_1.png);
}
.slide2 {
  background-image : url(../img/beauty/cosmetic_2.png);
}
.slide3 {
  background-image : url(../img/beauty/cosmetic_3.png);
}
.slide4 {
  background-image : url(../img/beauty/cosmetic_4.jpg);
}  
.swiper-pagination-bullet {
  background : transparent;
  border : solid 1px #707070;
}
.swiper-pagination-bullet-active {
  background : #2e75b6;
  border : solid 1px #2e75b6;
}
.desc_marker:nth-of-type(1) {
  margin-bottom : 4px;
}
.desc_marker {
  display : inline-block;
  background : #2e75b6;
  color : #fff;
  font-family : azo-sans-web, sans-serif;
  font-size : 20px;
  font-weight : bold;
  padding : 2px 6px;
  margin-bottom : 14px;
}
/*slider button*/
.s_btn {
  position : absolute;
  bottom : 30px;
  right : 5%;
  display : flex;
  justify-content : space-between;
  width : 183px;
}
.btn_prev,.btn_next {
  cursor : pointer;
  background : no-repeat;
  width : 80px;
  height : 80px;
  z-index : 1;
}
.btn_prev {
  background : url(../img/beauty/c_prev.png);
  left : 10px ;
  right : auto;
}
.btn_next {
  background : url(../img/beauty/c_next.png);
  right : 10px;
  left : auto;
} 
.swiper-button-next,.swiper-button-prev {
  display : none;
}
/* media */
#media .content_wrapper {
  display : flex;
  justify-content : space-between;
  align-items : center;
}
.img_list {
  display : flex;
}
.img_list img {
  transition : all .3s ease 0s;
}
.img_list img:hover {
  opacity : .6;
}
#media .content_text {
  width : 367px;
}
#media .content_text p {
  line-height : 2;
  margin-bottom : 35px;
}
#media .content_text h4 {
  margin-bottom : 35px;
}
.arrow::before {
  content : '';
  display : block;
  width : 18px;
  height : 1px;
  background-color : black;
  position : absolute;
  left : 68%;
  top : 50%;
  transform : translate(25%, -50%);
  transition : 1s;
}
.arrow::after {
  content : '';
  display : block;
  width : 10px;
  height : 1px;
  background-color : black;
  position : absolute;
  left : 71%;
  top : 50%;
  transform : translate(100%, -4px) rotate(45deg);
  transition : 1s;
}
.link_btn:hover .arrow::after,.link_btn:hover .arrow::before {
  background-color : white;
}
#media .link_btn {
  padding : 10px 60px 10px 40px;
}
