@charset 'utf-8';
/* -----------------------------------------------------------
CSS Information

File name:      common.css
Created:        2020-07
Style Info:     共有CSS
----------------------------------------------------------- */
#about_us,#main,#service,#event,#solution,#news,#services,#casting,#web_ad,#web_production,#beauty,#d_casting,#influencer,#point,#register_info,#schedule,#d_contact,#web_business,#w_ad,#support,#w_point,#w_production,#w_schedule,#d_beauty,#company,#philosophy,#company_info,#contact,#header,#footer {
  line-height : 1.3;
}
body {
  color : #000;
  font-family : '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
  font-size : 16px;
  letter-spacing : 0;
  background : #fff;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing : antialiased;
} 
/* ------------------------------------ */
/* heading */
/* ------------------------------------ */
h4 {
  font-size : 25px;
  font-weight : bold;
  line-height : 1.6;
}
.sub_text {
  display : inline-block;
  width : 100%;
  text-align : center;
  font-weight : normal;
  line-height : 1;
  margin-bottom : 43px;
}
/* ------------------------------------ */
/* layout */
/* ------------------------------------ */
.inner {
  max-width : 100%;
  width : 1238px;
  margin : 0 auto;
}
.animate .inner {
  position : relative;
}
.content_wrapper,.h_container {
  position : relative;
}
/* ------------------------------------ */
/* header */
/* ------------------------------------ */
#header {
  position : relative;
}
.header_inner {
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding-left : 27px;
  padding-right : 27px;
  height : 76px;
}
.header_inner li {
  display : inline-block;
  position : relative;
}
.fa,.fas {
  font-weight : 900;
}
.nav {
  background : rgba(255,255,255,.7);
  z-index : 999;
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
}
.logo img {
  width : 48px;
}
.logo > a {
  display : flex;
  align-items : center;
}
.logo span {
  font-size : 24px;
  font-family : azo-sans-web, sans-serif;
  font-weight : bold;
}
.fa-angle-down {
  margin-left : 10px;
}
.fa,.far,.fas {
  font-family : 'Font Awesome 5 Free';
}
.menu_item:not(:last-child) {
  padding-right : 50px;
}
.menu_item a {
  font-size : 20px;
  transition : 1s;
  position : relative;
  line-height : 35px;
  display : inline-block;
  font-family : azo-sans-web, sans-serif;
}
.menu_item a::after {
  position : absolute;
  transition : .3s;
  content : '';
  left : 0;
  width : 0;
  bottom : 0;
  height : 3px;
  background : #000;
}
.menu_item a:hover::after {
  width : 110%;
  left : -5%;
}
#window {
  width : 200px;
  padding : 15px;
  position : absolute;
  top : 30px;
  left : 50px;
  background : rgba(226,224,224,.1);
  display : inline-block;
  transform : translateX(-50%);
  opacity : 0;
  transition-property : opacity;
  transition-duration : .5s;
  display : none;
}
#window a {
  display : inline-block;
  height : 30px;
}
#window.hover {
  opacity : 1;
  display : inline-block;
}
#window a {
  height : 32px;
  display : none;
}
#window.hover a {
  display : inline-block;
  line-height : 35px;
}
/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
#footer {
  position : relative;
  width : 100%;
  background : #5c5c5c;
  color : #fff;
  padding : 65px 0 45px;
}
.footer_inner {
  width : 690px;
  margin : 0 auto;
}
#footer .logo {
  position : relative;
}
.f_logo span {
  color : #fff;
  vertical-align : bottom;
}
#footer .logo::after {
  content : '';
  width : 80px;
  height : 1px;
  transform : rotate(-90deg);
  background : #fff;
  position : absolute;
  top : 50%;
  left : 165px;
}
.footer_item:nth-last-of-type(2) p {
  font-family : azo-sans-web, sans-serif;
}
#footer span {
  display : block;
}
.address span {
  margin-bottom : 16px;
}
.footer_item p {
  line-height : 1.8;
}
#footer .content_wrapper {
  display : flex;
  justify-content : space-between;
  align-items : center;
}
#footer .content_wrapper:nth-of-type(1) {
  padding-left : 45px;
  padding-right : 45px;
  margin-bottom : 65px;
}
#footer .content_wrapper:nth-of-type(2) {
  align-items : inherit;
}
#footer h6 {
  position : relative;
  font-size : 18px;
  font-family : azo-sans-web, sans-serif;
  font-weight : bold;
  padding-bottom : 7px;
  margin-bottom : 25px;
}
#footer h6::after {
  content : '';
  width : 87px;
  height : 2px;
  background : #fff;
  position : absolute;
  left : 0;
  bottom : 0;
}
.copyright {
  text-align : center;
  font-family : azo-sans-web, sans-serif;
  font-size : 10px;
  padding-top : 80px;
}
/* ------------------------------------ */
/* stalker js animetion */
/* ------------------------------------ */
#stalker {
  pointer-events : none;
  position : fixed;
  top : -8px;
  left : -8px;
  width : 16px;
  height : 16px;
  background : rgb(0, 147, 254, .5);
  border-radius : 50%;
  -webkit-transition : top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
          transition : top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
          transition : transform .2s, top, .5s, left .5s, width .5s, height .5s, background-color .5s;
          transition : transform .2s, top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
  -webkit-transition-timing-function : ease-out;
          transition-timing-function : ease-out;
  z-index : 999;
}
#stalker.hov_ {
  top : -32px;
  left : -32px;
  width : 64px;
  height : 64px;
  -webkit-transition : .5s;
          transition : .5s;
  background : rgba(255, 255, 255, .5);
}
/* ------------------------------------ */
/* animation */
/* ------------------------------------ */
@-webkit-keyframes slideInRight {
  from {
    opacity : 0;
    -webkit-transform : translate3d(40%, 0, 0);
            transform : translate3d(40%, 0, 0);
  }
  to {
    opacity : 1;
    -webkit-transform : translate3d(0, 0, 0);
            transform : translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    opacity : 0;
    -webkit-transform : translate3d(-40%, 0, 0);
            transform : translate3d(-40%, 0, 0);
  }
  to {
    opacity : 1;
    -webkit-transform : translate3d(0, 0, 0);
            transform : translate3d(0, 0, 0);
  }
}
.slideIn-right {
  opacity : 0;
}
.inview-in .slideIn-right {
  -webkit-animation-duration : 1.5s;
          animation-duration : 1.5s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : slideInRight;
          animation-name : slideInRight;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
@-webkit-keyframes fadeIn {
  from {
    opacity : 0;
    -webkit-transform : translate3d(0, 20px, 0);
            transform : translate3d(0, 20px, 0);
  }
  to {
    opacity : 1;
    -webkit-transform : translate3d(0, 0, 0);
            transform : translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity : 0;
    -webkit-transform : translate3d(0, 20px, 0);
            transform : translate3d(0, 20px, 0);
  }
  to {
    opacity : 1;
    -webkit-transform : translate3d(0, 0, 0);
            transform : translate3d(0, 0, 0);
  }
}
.fade-in {
  opacity : 0;
}
.inview-in .fade-in {
  -webkit-animation-duration : 3s;
          animation-duration : 3s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : fadeIn;
          animation-name : fadeIn;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
.fade-in-stairs > * {
  opacity : 0;
}
.inview-in .fade-in-stairs > * {
  -webkit-animation-duration : 6s;
          animation-duration : 6s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : fadeIn;
          animation-name : fadeIn;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
.inview-in .fade-in-stairs > *:nth-child(2) {
  animation-delay : 1s;
}
.inview-in .fade-in-stairs > *:nth-child(3) {
  animation-delay : 1.6s;
}
.inview-in .fade-in-stairs > *:nth-child(4) {
  animation-delay : 2.4s;
}
.inview-in .fade-in-stairs > *:nth-child(5) {
  animation-delay : 3s;
}
.inview-in .fade-in-stairs > *:nth-child(6) {
  animation-delay : 3.6s;
}
.inview-in .fade-in-stairs > *:nth-child(7) {
  animation-delay : 4.2s;
}
.inview-in .fade-in-stairs > *:nth-child(8) {
  animation-delay : 4.8s;
}
.inview-in .fade-in-stairs > *:nth-child(9) {
  animation-delay : 5.4s;
}
.inview-in .fade-in-stairs > *:nth-child(10) {
  animation-delay : 6s;
}
.inview-in .fade-in-stairs > *:nth-child(11) {
  animation-delay : 6.6s;
}
.fade-in-s > * {
  opacity : 0;
}
.inview-in .fade-in-s > * {
  -webkit-animation-duration : 2.4s;
          animation-duration : 2.4s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : fadeIn;
          animation-name : fadeIn;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
.inview-in .fade-in-s > *:nth-child(2) {
  animation-delay : .4s;
  width : 48px;
  position : absolute;
  left : 280px;
  top : 50%;
  z-index : 2;
}
.inview-in .fade-in-s > *:nth-child(3) {
  animation-delay : .8s;
}
.inview-in .fade-in-s > *:nth-child(4) {
  animation-delay : 1.2s;
  width : 48px;
  position : absolute;
  left : 597px;
  top : 50%;
  z-index : 2;
}
.inview-in .fade-in-s > *:nth-child(5) {
  animation-delay : 1.6s;
}
.inview-in .fade-in-s > *:nth-child(6) {
  animation-delay : 2s;
  width : 48px;
  position : absolute;
  left : 910px;
  top : 50%;
  z-index : 2;
}
.inview-in .fade-in-s > *:nth-child(7) {
  animation-delay : 2.4s;
}
.delay-02 {
  animation-delay : .8s;
}
.delay-04 {
  animation-delay : 1.2s;
}
.delay-06 {
  animation-delay : 1.8s;
}
.delay-08 {
  animation-delay : 2.2s;
}
.delay-10 {
  animation-delay : 2.6s;
}
.delay-12 {
  animation-delay : 3s;
}
.delay-14 {
  animation-delay : 3.4s;
}
.delay-16 {
  animation-delay : 3.8s;
}
.delay-18 {
  animation-delay : 4.2s;
}
.delay-20 {
  animation-delay : 4.8s;
}
@-webkit-keyframes opacityIn {
  from {
    opacity : 0;
  }
  to {
    opacity : 1;
  }
}
@keyframes opacityIn {
  from {
    opacity : 0;
  }
  to {
    opacity : 1;
  }
}
.opacity-in {
  opacity : 0;
}
.inview-in .opacity-in {
  -webkit-animation-duration : 2s;
          animation-duration : 2s;
  -webkit-animation-fill-mode : both;
          animation-fill-mode : both;
  -webkit-animation-name : opacityIn;
          animation-name : opacityIn;
  transition-timing-function : cubic-bezier(.23, 1, .32, 1);
}
